body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../page1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:417px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:423px;
}

.u1 {
    position:absolute;
    left:2px;
    top:200px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../page1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:103px;
    width:320px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:56px;
}

.u3 {
    position:absolute;
    left:2px;
    top:17px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:20px;
    top:118px;
    width:231px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:284px;
    top:121px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u6 {
    position:absolute;
    left:0px;
    top:101px;
    width:320px;
    height:52px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u7 {
    position:absolute;
    left:12px;
    top:17px;
    width:297px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../page1_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:4px;
    width:297px;
    height:3px;
}

.u8 {
    position:absolute;
    left:12px;
    top:57px;
    width:297px;
    height:10px;
    
}

.u9_normal {
    background-image: url('../page1_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:148px;
    top:49px;
    width:25px;
    height:25px;-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u10 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

